#DongDuong {
    color: cyan;
}

a {
    color: deepskyblue;
}

sup {
    color: deepskyblue;
    font-size: 30%;
}

p {
    text-indent: 50px;
}

div {
    width: 50%;
    height: 50%;
    text-align: justify;
}

h1, hr, h4 {
    margin: 1px;
    /*line-height: 0.3;*/
}
